extends layouts/main

block variables
	- var title = 'Flora image'

block content

	include ./modules/frame.pug
	include ./modules/navigation.pug
	include ./modules/header.pug
	include ./modules/features.pug
	include ./modules/blog.pug
	include ./modules/about.pug
	include ./modules/events.pug
	include ./modules/portfolio.pug
	include ./modules/event.pug
	include ./modules/skills.pug
	include ./modules/banner.pug
	include ./modules/shop.pug
	include ./modules/comments.pug
	include ./modules/testimonials.pug
	include ./modules/team.pug
	include ./modules/pricing.pug
	include ./modules/contacts.pug
	include ./modules/footer.pug