//- Blog
span(class="anchor" id="blog")
.blog.section
	.container
		.row
			//- blog col
			.blog__col
				.blog__content
					img(src="./images/blog-image-1.jpg", alt="blog-img").blog__image.image.image--stretched
					.blog__text
						h2.section-heading.blog__title ANIM&shy;ALS WITH <br class="hideable"> US
						a(href="http://example.com").button.button--secondary.blog__button See all
			//- blog col
			.blog__col
				.blog__content
					img(src="./images/blog-image-2.jpg", alt="blog-img").blog__image.image.image--stretched
					.blog__text
						h2.section-heading.blog__title PLANT IN MY HOUSE
						a(href="http://example.com").button.button--secondary.blog__button See all