//- Contacts
span(class="anchor" id="contacts")
section.section.contacts
	.contacts__wrapper
		.contacts__map.animated(data-scroll-animation="fadeInRight")
			#map
		.container
			.row
				.contacts__col
					h2.section__heading.contacts__heading OUR <br class="hideable">CONTA&shy;CTS
					.contacts__content
						span.h4.sup-title.contacts__sup-title ADDRESS
						h3.contacts__title POSHTOVA STREET 25/2 <br class="hideable">UKRAINE, KYIV
					.contacts__content
						span.h4.sup-title.contacts__sup-title PHONE
						h3.contacts__title +3 555 65 899
					.contacts__content
						span.h4.sup-title.contacts__sup-title SITE
						h3.contacts__title THEMESCODE.COM