// Events
span(class="anchor" id="events")
section.section.events
	.container
		.row
			.events__heading
				h2.section__heading Creative <br class="hideable">idea

	.container-fluid
		.row
			//- events col
			.events__col
				.events__image
					img(src="./images/events-image-1.jpg", class="image--stretched" alt="event-1")
				.events__text-wrap
					span.h4.sup-title.events__date 1 MARCH 2019
					h3.events__title IN THE GREENHOUSE WILL SOON FLOURISH FLOWERS.
					p.events__text I have related the substances of several conversations I had with my mas足ter during. Leaping from roof to roof, I soon reached an open window in the building where I hoped to find the Heliumite, and in another moment I sto足od in the room before him. He was alone and showed no surprise.
					a(href="http://example.com").button-underlined.events__button Discover them
			//- events col
			.events__col.events__col--blue
				.events__image
					img(src="./images/events-image-2.jpg", class="image--stretched" alt="event-2")
				.events__text-wrap
					span.h4.sup-title.events__date 1 MARCH 2019
					h3.events__title IN THE GREENHOUSE WILL SOON FLOURISH FLOWERS.
					p.events__text I have related the substances of several conversations I had with my mas足ter during. Leaping from roof to roof, I soon reached an open window in the building where I hoped to find the Heliumite, and in another moment I sto足od in the room before him.
					a(href="http://example.com").button-underlined.button-underlined--white.events__button Discover them