// Event
span(class="anchor" id="event")
section.section.event
	.event__wrapper
		.event__image.animated(data-scroll-animation="fadeInRight")
			img(src="./images/event-image.jpg", class="image--stretched" alt="event")
		.container
			.row
				.event__col
					h2.section__heading.event__heading PLANT <br class="hideable">LABORA足TORY
					span.h4.sup-title.event__date 5 MARCH 2019
					h3.event__title TO STUDY THE PROPERTIES OF THESE BEAUTIFUL FLOWERS.
					p.p--picked.event__picked I have related the substances of several convers足ations I had with my master during. Leaping from roof to roof
					p.event__text I have related the substances of several conversations I had with my mas足ter during. Leaping from roof to roof, I soon reached an open window in the building where I hoped to find the Heliumite, and in another moment I sto足od in the room before him. He was alone and showed no surprise.
					a(href="http://example.com").button.button--secondary.button--text-secondary.event__button Read more