// Features
span(class="anchor" id="features")
.section.features
	.container
		.row
			//- features col
			.features__col
				img(src="./images/features-icon-1.png", alt="feature-1").features__icon
				h3.features__title BEST <br class="hideable">SUPPORT
				p.features__text I have related the substances of sev&shy;­eral conversations I had with my mas­ter during. Leaping from roof to roof, I soon reached an open window in the building where I hoped to find the He­liumite, and in another moment I sto­od in the room before him. He was alone and showed no surprise.
				a(href="http://example.com").button-underlined.features__button Discover them
			//- features col
			.features__col
				img(src="./images/features-icon-2.png", alt="feature-2").features__icon
				h3.features__title CLEAN <br class="hideable">CODE
				p.features__text But have, indeed, for brevitys of sake, omitted much mores than is here set down. I saw that he knew nothing of the events of the day at the palace, and when I had enlightened him he was all exccolent. The news that Dejah Thoris had promised her hand to Sab Than filled him with dismay.
				a(href="http://example.com").button-underlined.features__button Discover them
			//- features col
			.features__col
				img(src="./images/features-icon-3.png", alt="feature-3").features__icon
				h3.features__title LAYARED <br class="hideable">PSD
				p.features__text They made signs for me to us come down from the rockest, and go to­wards the shore. It is impossible! Why no man in all Helium but would prefer death to the selling of our loved prin­cess to the ruling house of Zodanga. She must have lost her mind to have assented to such an atrocious.
				a(href="http://example.com").button-underlined.features__button Discover them
			//- features col
			.features__col
				img(src="./images/features-icon-4.png", alt="feature-4").features__icon
				h3.features__title DESIGN <br class="hideable">TRENDS 2017
				p.features__text I startled my wife at the doorway, so haggard was I. I went into the dining room, sat down, drank some wine, and so soon as I could collect myself suffi­ciently I told her the things I had seen. The dinner, which was a cold one, had already been served, and remained neglected on the table.
				a(href="http://example.com").button-underlined.features__button Discover them
