// Frame
.frame
	.frame__top
	.frame__right
	.frame__bottom
	.frame__left

	//- Header
	.frame__header
		.frame__logo
			img(src="./images/logo.png", alt="logo")
		.frame__burger.burger
			.burger__brick
			.burger__brick.burger__brick--middle
			.burger__brick

	//- Footer
	.frame__footer
		ul.socials.frame__socials
			li.socials__item
				a(href="http://example.com")
					i.fa.fa-twitter
			li.socials__item
				a(href="http://example.com")
					i.fa.fa-dribbble
			li.socials__item
				a(href="http://example.com")
					i.fa.fa-linkedin
			li.socials__item
				a(href="http://example.com")
					i.fa.fa-instagram
			li.socials__item
				a(href="http://example.com")
					i.fa.fa-facebook-f