// Header
header.header(data-parallax="scroll" data-z-index="1" data-image-src="./images/header-bg.jpg")
	.container
		.row
			.header__info
				span(class="h4 sup-title header__date animated" data-scroll-animation="fadeInUp") 21 MARCH 2019
				h1(class="header__title animated" data-scroll-animation="fadeInUp" data-scroll-animation-delay="0.2s") SPRI&shy;NG FEST&shy;IVAL 2017
				a(href="http://example.com" class="button header__button animated" data-scroll-animation="fadeInUp" data-scroll-animation-delay="0.4s") Begin