// Navigation
.navigation
	.container
		.row
			ul.navigation__list
				li.navigation__list-item
					a(href="#features").h3.navigation__link Features
				li.navigation__list-item
					a(href="#blog").h3.navigation__link Blog
				li.navigation__list-item
					a(href="#about").h3.navigation__link About
				li.navigation__list-item
					a(href="#events").h3.navigation__link Events
				li.navigation__list-item
					a(href="#portfolio").h3.navigation__link Portfolio
				li.navigation__list-item
					a(href="#event").h3.navigation__link Event
				li.navigation__list-item
					a(href="#skills").h3.navigation__link Skills
				li.navigation__list-item
					a(href="#shop").h3.navigation__link Shop
				li.navigation__list-item
					a(href="#comments").h3.navigation__link Comments
				li.navigation__list-item
					a(href="#team").h3.navigation__link Team
				li.navigation__list-item
					a(href="#pricing").h3.navigation__link Pricing
				li.navigation__list-item
					a(href="#contacts").h3.navigation__link Contacts