// Portfolio
span(class="anchor" id="portfolio")
.section.portfolio
	.container
		.row
			//- portfolio col
			.portfolio__col
				.portfolio__image-wrap
					img(src="./images/portfolio-image-1.jpg", class="image portfolio__image", alt="image-1")
			//- portfolio col
			.portfolio__col
				.portfolio__image-wrap
					img(src="./images/portfolio-image-2.jpg", class="image portfolio__image", alt="image-2")
				.portfolio__inner-row
					//- portfolio inner col
					.portfolio__inner-col
						.portfolio__image-wrap
							img(src="./images/portfolio-image-3.jpg", class="image portfolio__image", alt="image-3")
					//- portfolio inner col
					.portfolio__inner-col
						.portfolio__image-wrap
							img(src="./images/portfolio-image-4.jpg", class="image portfolio__image", alt="image-4")