//- Pricing
span(class="anchor" id="pricing")
.section.pricing
	.container
		.row
			//- pricing col
			.pricing__col
				.pricing__content.pricing__content--green
					.pricing__info
						h3.pricing__title SIMPLE<span class="yellow-dot">.</span>
						span.price.pricing__price $19
						p.pricing__text
							| 20 gb storage<br>
							| Free online builder<br>
							| <strike>Single license</strike><br>
							| <strike>Unlimited colors</strike>
						a(href="http://example.com").button.pricing__button Buy now
			//- pricing col
			.pricing__col
				.pricing__content.pricing__content--blue
					.pricing__info
						h3.pricing__title Standard<span class="yellow-dot">.</span>
						span.price.pricing__price $29
						p.pricing__text
							| 30 gb storage<br>
							| Free online builder<br>
							| Single license<br>
							| <strike>Unlimited colors</strike>
						a(href="http://example.com").button.pricing__button Buy now
			//- pricing col
			.pricing__col
				.pricing__content.pricing__content--red
					.pricing__info
						h3.pricing__title Pro<span class="yellow-dot">.</span>
						span.price.pricing__price $39
						p.pricing__text
							| 40 gb storage<br>
							| Free online builder<br>
							| Single license<br>
							| Unlimited colors
						a(href="http://example.com").button.pricing__button Buy now