//- Shop
span(class="anchor" id="shop")
section.section.shop
	.container
		.row
			.shop__heading
				h2.section__heading FROM <br class="hideable">OUR SHOP
	.container
		.row
			//- shop col
			.shop__col
				img(src="./images/shop-image-1.jpg", alt="shop-img").image.shop__image
				span.h4.sup-title.shop__sup-title GLASSES
				h3.shop__title GREENERY: COLOUR FOR 2017<span class="yellow-dot">.</span>
				span.price.shop__price
					span.price--old.shop__price-old $800
					| $540
				p.shop__text I have related the substances of several conversations I had with my mas足ter during. Leaping from roof to roof, I soon reached an open window in the building where I hoped to find the Heliumite, and in another moment I sto足od in the room before him. He was alone and showed no surprise.
				a(href="http://example.com").button-underlined.shop__button Find and buy
			//- shop col
			.shop__col
				img(src="./images/shop-image-2.jpg", alt="shop-img").image.shop__image
				span.h4.sup-title.shop__sup-title SWEATSHIRT
				h3.shop__title COLOR DUSTY ROSE<span class="yellow-dot">.</span>
				span.price.shop__price
					span.price--old.shop__price-old $800
					| $540
				p.shop__text I have related the substances of several conversations I had with my mas足ter during. Leaping from roof to roof, I soon reached an open window in the building where I hoped to find the Heliumite, and in another moment I sto足od in the room before him. He was alone and showed no surprise.
				a(href="http://example.com").button-underlined.shop__button Find and buy