//- Skills
span(class="anchor" id="skills")
.skills.section
	.container
		.row
			//- skills col
			.skills__col
				.skills__content
					img(src="./images/skills-image-1.jpg", alt="skills-img").skills__image.image.image--stretched
					.skills__text
						span.skills__number 3<br class="hideable">000
						h3.skills__title Projects<span class="yellow-dot">.</span>
			//- skills col
			.skills__col
				.skills__content
					img(src="./images/skills-image-2.jpg", alt="skills-img").skills__image.image.image--stretched
					.skills__text
						span.skills__number 12<br class="hideable">000
						h3.skills__title Hours<span class="yellow-dot">.</span>
			//- skills col
			.skills__col
				.skills__content
					img(src="./images/skills-image-3.jpg", alt="skills-img").skills__image.image.image--stretched
					.skills__text
						span.skills__number 20<br class="hideable">000
						h3.skills__title Likes<span class="yellow-dot">.</span>