// Team
span(class="anchor" id="team")
section.section.team
	.container
		.row
			.team__heading
				h2.section__heading OUR <br class="hideable">LOVE TEAM
	.container
		.row
			//- team col
			.team__col
				img(src="./images/team-image-1.jpg", class="image team__image", alt="team-1")
				span.h4.sup-title.team__sup-title MANAGER
				h3.team__title IOAN STOPTANY<span class="yellow-dot">.</span>
				ul.socials.team__socials
					li.socials__item
						a(href="http://example.com")
							i.fa.fa-twitter
					li.socials__item
						a(href="http://example.com")
							i.fa.fa-dribbble
					li.socials__item
						a(href="http://example.com")
							i.fa.fa-linkedin
					li.socials__item
						a(href="http://example.com")
							i.fa.fa-facebook-f
			//- team col
			.team__col
				img(src="./images/team-image-2.jpg", class="image team__image", alt="team-2")
				span.h4.sup-title.team__sup-title FLORIST
				h3.team__title FLORIST<span class="yellow-dot">.</span>
				ul.socials.team__socials
					li.socials__item
						a(href="http://example.com")
							i.fa.fa-twitter
					li.socials__item
						a(href="http://example.com")
							i.fa.fa-dribbble
					li.socials__item
						a(href="http://example.com")
							i.fa.fa-linkedin
					li.socials__item
						a(href="http://example.com")
							i.fa.fa-facebook-f
			//- team col
			.team__col
				img(src="./images/team-image-3.jpg", class="image team__image", alt="team-3")
				span.h4.sup-title.team__sup-title MANAGER
				h3.team__title MARKO KLUSHKIN<span class="yellow-dot">.</span>
				ul.socials.team__socials
					li.socials__item
						a(href="http://example.com")
							i.fa.fa-twitter
					li.socials__item
						a(href="http://example.com")
							i.fa.fa-dribbble
					li.socials__item
						a(href="http://example.com")
							i.fa.fa-linkedin
					li.socials__item
						a(href="http://example.com")
							i.fa.fa-facebook-f