//- Testimonials
section.section.testimonials
	.container
		.row
			.testimonials__heading
				h2.section__heading Testi&shy;monials <br class="hideable">about us
	.container-fluid
		.row
			//- testimonials col
			.testimonials__col
				.testimonials__text-wrap
					p.testimonials__text I have related the substances of several conversations I had with my mas- ter during. Leaping from roof to roof, I soon reached an open window in the building where I hoped to find the Heliumite, and in another moment I sto- od in the room before him. He was alone and showed no surprise. I had with my mas- ter during. Leaping from roof to roof, I soon reached an open window in the building where
					h3.testimonials__title STEPHAN BANDERAS<span class="yellow-dot">.</span>
					span.h4.sup-title.testimonials__sup-title DEVELOPER
			//- testimonials col
			.testimonials__col.testimonials__col--blue.animated(data-scroll-animation="fadeInRight")
				.testimonials__text-wrap
					p.testimonials__text I have related the substances of several conversations I had with my mas- ter during. Leaping from roof to roof, I soon reached an open window in the building where I hoped to find the Heliumite, and in another moment I sto- od in the room before him. He was alone and showed no surprise.
					h3.testimonials__title NIKOLA VERESEN<span class="yellow-dot">.</span>
					span.h4.sup-title.testimonials__sup-title MANAGER